
*.nupkg
*.woff2
*.woff
packages/jQuery.3.3.1/Content/Scripts/jquery-3.3.1-vsdoc.js
packages/jQuery.3.3.1/Content/Scripts/jquery-3.3.1.min.js
packages/jQuery.3.3.1/Content/Scripts/jquery-3.3.1.min.map
packages/jQuery.3.3.1/Content/Scripts/jquery-3.3.1.slim.js
packages/bootstrap.3.3.7/content/Content/bootstrap.min.css
packages/bootstrap.3.3.7/content/Content/bootstrap.css.map
packages/bootstrap.3.3.7/content/Content/bootstrap.min.css.map
packages/bootstrap.3.3.7/content/Content/bootstrap.css
packages/bootstrap.3.3.7/content/Content/bootstrap-theme.min.css.map
packages/bootstrap.3.3.7/content/Content/bootstrap-theme.css
packages/bootstrap.3.3.7/content/Content/bootstrap-theme.css.map
packages/bootstrap.3.3.7/content/Content/bootstrap-theme.min.css
StudentManagementSystem/packages/bootstrap.3.3.7/content/Content/bootstrap-theme.css
StudentManagementSystem/packages/bootstrap.3.3.7/content/Content/bootstrap-theme.css.map
StudentManagementSystem/packages/bootstrap.3.3.7/content/Content/bootstrap-theme.min.css.map
StudentManagementSystem/packages/bootstrap.3.3.7/content/Content/bootstrap-theme.min.css
StudentManagementSystem/packages/bootstrap.3.3.7/content/Content/bootstrap.css
StudentManagementSystem/packages/bootstrap.3.3.7/content/Content/bootstrap.min.css.map
StudentManagementSystem/packages/bootstrap.3.3.7/content/Content/bootstrap.css.map
StudentManagementSystem/packages/bootstrap.3.3.7/content/Content/bootstrap.min.css
StudentManagementSystem/packages/bootstrap.3.3.7/content/Scripts/bootstrap.js
StudentManagementSystem/packages/bootstrap.3.3.7/content/Scripts/bootstrap.min.js
StudentManagementSystem/packages/jQuery.3.3.1/Tools/jquery-3.3.1.intellisense.js
StudentManagementSystem/packages/jQuery.3.3.1/Tools/install.ps1
StudentManagementSystem/packages/jQuery.3.3.1/Content/Scripts/jquery-3.3.1.slim.min.map
StudentManagementSystem/packages/jQuery.3.3.1/Content/Scripts/jquery-3.3.1-vsdoc.js
StudentManagementSystem/packages/jQuery.3.3.1/Content/Scripts/jquery-3.3.1.js
packages/bootstrap.3.3.7/content/fonts/glyphicons-halflings-regular.eot
packages/bootstrap.3.3.7/content/fonts/glyphicons-halflings-regular.svg
packages/bootstrap.3.3.7/content/fonts/glyphicons-halflings-regular.ttf
packages/jQuery.3.3.1/Content/Scripts/jquery-3.3.1.js
packages/jQuery.3.3.1/Content/Scripts/jquery-3.3.1.slim.min.js
packages/jQuery.3.3.1/Content/Scripts/jquery-3.3.1.slim.min.map
packages/jQuery.3.3.1/Tools/common.ps1
packages/jQuery.3.3.1/Tools/install.ps1
packages/jQuery.3.3.1/Tools/jquery-3.3.1.intellisense.js
packages/jQuery.3.3.1/Tools/uninstall.ps1
packages/jQuery.Validation.1.17.0/Content/Scripts/jquery.validate-vsdoc.js
packages/jQuery.Validation.1.17.0/Content/Scripts/jquery.validate.js
packages/jQuery.Validation.1.17.0/Content/Scripts/jquery.validate.min.js
packages/Microsoft.jQuery.Unobtrusive.Validation.3.2.4/Content/Scripts/jquery.validate.unobtrusive.js
packages/Microsoft.jQuery.Unobtrusive.Validation.3.2.4/Content/Scripts/jquery.validate.unobtrusive.min.js
packages/Modernizr.2.8.3/Content/Scripts/modernizr-2.8.3.js
.vs/TechAcadStudentsMVC/v15/Server/sqlite3/db.lock
StudentManagementSystem/.vs/StudentManagementSystem/v15/Server/sqlite3/db.lock
Insurance/.vs/Insurance/v15/Server/sqlite3/db.lock
